.rr{
	background-color: rgba(0, 0, 0, 0.03);
	border-radius: 8px;	
}
.rr:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.row-bg{
	background-color:white;
}
.product-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	height: 10%;

}
.product-discription{
	text-align: center;
	font-size: 14px;
	height: 35%;
}
.product-price{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	width: auto;
	height: 20%;
}
.pic{
	height: 35%;
}
.BUY-btn{
	align-items: center;
	margin-top: 16px;
}


.zoom:hover {
  transform: scale(1.3); 
}
.zoom1:hover {
  transform: scale(1.1); 
}
.title{
	color:black;
	background-color:white;
	text-align: center;
	padding:1px;
	font-size: 30px;
	font-weight: bold;
}
.bg{
	background-image: url(/photos/techsource.jpg);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  align-items: flex-start;

}
.chap{
	background-color: rgba(255, 255, 255, 0.1);
	/*width: 20%;*/
	border-radius: 5px;
	/*height: 45%;*/
	text-align: center;
}
.rast{
	background-color: rgba(255, 255, 255, 0.1);
	/*width: 20%;*/
	border-radius: 5px;
	/*height: 45%;*/
	text-align: center;
}
/* .cen{
	flex-grow:5;
} */
h1{
	font-size: 30px;
	color: peru;
}
.dis{
	font-size: 20px;
	color:lightslategray;
}

.chap:hover{
	background-color:rgba(255, 255, 255, 0.2);
}
.rast:hover{
	background-color:rgba(255, 255, 255, 0.2);
}
.con-bg{
	background-color: white;
}
.line{
	border: 3px solid black;
  border-radius: 5px;
}